<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pingucoder</title>
    <link rel="stylesheet" href="styles.css" />
    <script defer src="main.js"></script>
</head>

<body id="body">
    <header class="myheader">
       <h1>Pingucoder 🐧</h1>
        <nav>
            <ul class="parent">
                <li>
                    <a href="https://www.youtube.com/playlist?list=PLEjNeg4a--Pxu18pxcVya8cTS--mvD1nl">
                        All Courses
                    </a>
                </li>
                <li><a href="/add-new-article"> Add New Article </a></li>
                <li id="dark" class="mode">Change mode</li>
                <li><a href=""> Support Us </a></li>
            </ul>
        </nav>
    </header>
    <main id="main">
        <section>
            <h1> Trending Articles &#128293;   </h1>
            <div class="parent-of-articles">
                <article>
                    <h2> Learn MongoDB </h2>
                    <p>  MongoDB with Mongoose ODM and validation of Mongoose Data...
                       <a class="btn" href="/dddddd">show more</a>
                    </p>
                </article>
                <article>
                    <h2> Learn Express </h2>
                    <p> Endpoints with Insomnia , API Data validation with JOI, ...
                        <a class="btn" href="/dddddd">show more</a>
                    </p>
                </article>
                <article>
                    <h2> Web Server </h2>
                    <p>
                          What is a Web Server and How Does it Work?...
                        <a class="btn" href="/dddddd">show more</a>
                    </p>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <p class="follow"> You can follow the latest news of the site and the channel on 
            <a href="https://www.facebook.com/Pingucoder"> Facebook </a>
        </p>
        <p class="design">Designed and developed by Pingucoder © 2022</p>
    </footer>
</body>
</html>